@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
}

.card-header {
    color: #045fb0 !important;
    background: #eee !important;
    
    /* background: #2A2A2A !important; */
}

.navbar {
    background: #323491 !important;
    color: white !important;
    font-weight: bold;

}

.nav-link.active span {
            color: #ffcc00 !important;  /* Bright Gold for the active tab */
            border-bottom: 2px solid #ffcc00; /* Optional underline */
        }

        /* 2. Change color of the text when hovering */
        .nav-link:hover span {
            color: #ffcc00 !important; /* Turquoise on hover */
        }

.navbar-brand {         
    font-family:  var(--poppins);
            font-weight: bold;

}

.card-header {
    font-family: var(--poppins);
    font-weight: bold;
    color: #045fb0 !important;
}

.font-body {
    font-family: var(--lato);
}

#year-selection {
    /* width: 100%;
	margin-bottom: 16px; */
	background: #eee;
	border-radius: 10px;
	/* padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center; */
}

.request-card {
    align-self: center;
    width: 60%;
    overflow-y: auto;

    .shiny-input-container {
        width: 80% !important;
        border-right: #d64040 10px solid !important;
        align-self: center;

    }
}

.table-filters {
    width: 100%;

    
}

.shiny-input-container {
    background: #eee !important;
    border-right: #ffcc00 10px solid !important;
    border-radius: 10px;
	padding: 14px 15px;
    margin-left: 10px;
    margin-right: 20px;
    width: auto;


    .control-label {
        font-weight: bold;
        font-family: var(--lato);
        color: #045fb0;
    }
	

}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background: #323491;
    transition: 0.3s;
}

.shiny-image-output {
    height: 40px !important;
}

.btn:hover {
    background: #ffcc00;
    color: #323491;
    transition: 0.3s;
}
/* 
.shiny-data-frame thead {
    background-color: #212529 !important;
    color: white !important;
} */